@import url("https://fonts.googleapis.com/css?family=Lato");

* {
	font-family: "Lato", sans-serif;
	color: #31363b
}

body {
	background-color: #232629;
	margin: 0;
}

info {
	font-weight: 400;
}

.container {
	display: table;
	height: 100%;
	position: absolute;
	overflow: hidden;
	width: 100%;
}

.helper {
	#position: absolute;
	#top: 50%;
	display: table-cell;
	vertical-align: middle;
}

.content {
	#position: relative;
	#top: -50%;
	display: flex;
	max-width: 1280px;
	margin: auto;
	background-color: #eff0f1;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.board {
	background-color: #31363b;
}

.boardCell {
	width: 36px;
	height: 36px;
}

.boardCellBlack {
	margin: auto;
	width: 5px;
	height: 36px;
	background-color: #2ecc71;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	border-radius: 1.5px;
}

.boardCellBlack:before {
	background-color: inherit;
	border-radius: inherit;
	height: inherit;
	width: inherit;
	position: absolute;
	content: "";
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.boardCellWhite {
	margin: auto;
	width: 30px;
	height: 30px;
	border: 5px solid #e74c3c;
	border-radius: 50%;
	box-sizing: border-box;
}

.nameTag {
	display: flex;
}

.nameTag .icon {
	float: left;
	margin-left: 14px;
}

.nameTag * {
	display: inline-block;
	align-self: center;
}

.overlay {
	position: fixed;
	margin-top: -602px;
	width: 602px;
	height: 602px;
}

.overlay-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 16px;
	color: #ffffff;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}
